section form fieldset {
  width: 60%;
  margin: 0;
  text-align: center;
}

fieldset {
  background-color: rgba(33, 33, 33, 0.2);
  box-shadow: 3px 3px 14px grey;
  float:left;
  box-sizing:border-box;
  margin: 2% 1%;
  text-align: center;
}

fieldset.half {
  width: 30%;
}

.right{
  float:right;
}
.left{
  float:left;
}

fieldset ul {
  list-style:none;
  margin: auto;
  padding: 0;
  width: 80%;
}

fieldset select{
  width: 100%;
}

input#price{
  width: 75px;
  text-align: center;
}

fieldset button{
  background: #34495E;
  border: none;
  color: white;
  margin: 1%;
  padding: 4px;
  border-radius: 3px;
  width: 98%;
}

fieldset button:hover{
  box-shadow: 2px 2px 20px grey;
}

h1 {
  text-align: center;
}

h2 {
    text-align: center;
}

footer {
  clear: both;
}

@media screen and (orientation:portrait), (max-width:770px) {
  h1 {
    font-size: 5em;
  }

  fieldset.half {
    width: inherit;
    float: none;
  }

  legend {
    font-size: 2em;
  }

  select {
    height: 10em;
  }

  fieldset button {
    font-size: 200%;
  }

  label {
    font-size: 150%;
  }

  input {
    height: 2em;
  }
}

#bstZst {
  max-width: 100%;
}
