nav{
  width: 100%;
  text-align: center;
}

nav ul li {
  float: left;
  display: block;
  width: 15em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  list-style: none;
  border: 1px solid black;
  background: rgba(0, 0, 200, 0.2);
  font-weight: bold;
}

nav ul li a:hover {
  background: rgba(0, 0, 200, 0.5);
  text-decoration: none;
  color: yellow;
}

nav ul li a:link, a:visited {
  text-decoration: none;
  color: black;
}

fieldset {
  background-color: rgba(33, 33, 33, 0.2);
  box-shadow: 3px 3px 14px grey;
  float:left;
  box-sizing:border-box;
  margin: 2% 1%;
  text-align: center;
}

fieldset.half {
  width: 30%;
}

.right{
  float:right;
}
.left{
  float:left;
}

fieldset ul {
  list-style:none;
  margin: auto;
  padding: 0;
  width: 80%;
}

fieldset select{
  width: 100%;
}

input#price{
  width: 75px;
  text-align: center;
}

fieldset button{
  background: rgba(0, 0, 200, 0.2);
  border: none;
  margin: 1%;
  padding: 4px;
  border-radius: 3px;
  width: 98%;
}

fieldset button:hover{
  box-shadow: 2px 2px 20px grey;
}

h1 {
  text-align: center;
}

footer {
  clear: both;
}
